* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  background-color: #fff;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: #fff; */
  position: fixed;
  color: #000;
  z-index: 2;
  background-color: #fff;
  transition: 0.5s all;
  padding-right: 60px;
  padding-left: 60px;
}

.header-scroll {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
}

.btn__home {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.btn__home i {
  color: #000;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn__home i:hover {
  transform: scale(120%);
}
/* header logo */
.header-logo {
  width: 359px;
}

.header-logo h2 {
  font-size: 2.5rem;
  margin: 20px 0;
}
/* header menu */
.header-menu {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.header-menu ul {
  display: flex;
  gap: 70px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.header-menu a:hover {
  color: #537459;
}

main {
  width: 100%;
}
/* eslogan fondo*/
.main__portada {
  display: flex;
  width: 100%;
  height: 250px;
  background-image: url(img/hunters-race.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  /* filter: grayscale(.4) brightness(90%); */
  padding-top: 86px;
}

/* portada */
.portada__title {
  display: flex;
  justify-content: center;
}

.portada__box {
  padding: 40px 60px 0 60px;
  position: relative;
}

.title__box {
  position: absolute;
  background-color: #292929;
  width: 50px;
  height: 90px;
  top: 38px;
  left: 0;
}

.portada__title h2 {
  position: relative;
  margin: 0;
  font-size: 4.5rem;
  font-weight: bold;
  color: #537459;
}


/* cards servicios */
.container {
    width: 100%;
}

.container__services {
  width: 100%;
  padding: 60px 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.services__card {
  width: calc(50% - 20px);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card__img {
  width: 100%;
  height: 100%;
  display: flex;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  transition: .5s all;
}

.card__description {
  height: 90%;
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  transition: .5s all;
}

.descrption__plane {
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  transition: .5s all;
}

.card__description h4 {
  margin: 0;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
  transition: .2s all;
}

.card__description p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.3rem;
  opacity: 0;
  position: absolute;
  z-index: 1;
  transition: 1s all;
  text-align: justify;
}

.services__card:hover img {
  filter: none;
}

.services__card:hover .descrption__plane {
  width: 100%;
}

.services__card:hover .card__description h4 {
  font-size: 2rem;
  padding-bottom: 10px;
  color: #537459;
}

.services__card:hover .card__description p {
  position: relative;
  opacity: 1;
  color: #000;
}

/* Footer about */
.about {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
}

.footer__logo h2 {
  margin: 0;
  padding: 40px 0;
  font-size: 3rem;
}

.about__follow {
  padding-right: 60px;
}

.about__follow h3 {
  font-size: 2.3rem;
  font-weight: 400;
  margin: 0;
  padding: 40px 0;
}

.about__follow--icons {
  display: flex;
  gap: 30px;
  font-size: 2.5rem;
}

.about__follow--icons i {
  color: #fff;
  transition: 0.3s all;
}

.about__follow--icons i:hover {
  color: #537459;
  transform: scale(120%);
}

/* Copyright */
.Copyright {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0 20px 0;
}

.Copyright a {
  color: #537459;
}

@media screen and (max-width: 720px) {
  .header-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    left: 0;
  }

  .header-menu ul  {
    position: fixed;
    flex-direction: column;
    top: 86px;
    width: 100%;
    height: 100vh;
    left: -100%;
    background-color: #000;
    transition: 1s all;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    overflow: scroll;
  }

  .header-menu a {
    color: #fff;
  }

  .menu__show ul {
    left: 0;
  }

  .header-scroll li a {
    color: #fff;
  }

  .btn__home {
    position: relative;
    opacity: 1;
  }

}