* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  background-color: #fff;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: #fff; */
  position: fixed;
  color: #000;
  z-index: 2;
  background-color: #fff;
  transition: 0.5s all;
}

.header-scroll {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
}

/* header logo */
.header-logo {
  margin-left: 60px;
  width: 359px;
}

.header-logo h2 {
  font-size: 2.5rem;
  margin: 20px 0;
}
/* header menu */
.header-menu {
  margin-right: 60px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: calc(100% - 478px);
}

.header-menu ul {
  display: flex;
  gap: 70px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.header-menu a:hover {
  color: #537459;
}

main {
  width: 100%;
}
/* eslogan fondo*/
.main__portada {
  display: flex;
  width: 100%;
  height: 250px;
  background-image: url(img/hunters-race.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  /* filter: grayscale(.4) brightness(90%); */
  padding-top: 86px;
}

/* portada */
.portada__title {
  display: flex;
  justify-content: center;
}

.portada__box {
  padding: 40px 60px 0 60px;
  position: relative;
}

.title__box {
  position: absolute;
  background-color: #292929;
  width: 50px;
  height: 90px;
  top: 38px;
  left: 0;
}

.portada__title h2 {
  position: relative;
  margin: 0;
  font-size: 4.5rem;
  font-weight: bold;
  color: #537459;
}

/* cards servicios */
.container {
  width: 100%;
}

.container__contacts {
  width: 100%;
  padding: 40px 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0px;
}

.container__contacts h3 {
  margin: 0 0 10px 0;
  color: #537459;
  font-size: 1.6rem;
}

.container__contacts span {
  font-size: 1.2rem;
}

.contacts__address {
  width: calc(100% / 2);
}

.contacts__email {
  width: calc(100% / 2);
}

.contacts__phone {
  width: calc(100% / 2);
}

.phone__number {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

.contacts__social {
  width: calc(100% / 2);
}

.social__icon {
  display: flex;
  gap: 30px;
  font-size: 2.3rem;
}

.social__icon a {
  color: #1e1e1e;
  transition: 0.3s all;
}

.social__icon a:hover {
  transform: scale(120%);
  color: #537459;
}

.contact__map {
  width: 100%;
  height: 500px;
  padding-top: 50px;
  filter: ;
}

.contact__map iframe {
  width: 100%;
  height: 100%;
}

/* Footer about */
.about {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
}

.footer__logo h2 {
  margin: 0;
  padding: 40px 0;
  font-size: 3rem;
}

.about__follow {
  padding-right: 60px;
}

.about__follow h3 {
  font-size: 2.3rem;
  font-weight: 400;
  margin: 0;
  padding: 40px 0;
}

.about__follow--icons {
  display: flex;
  gap: 30px;
  font-size: 2.5rem;
}

.about__follow--icons i {
  color: #fff;
  transition: 0.3s all;
}

.about__follow--icons i:hover {
  color: #537459;
  transform: scale(120%);
}

/* Copyright */
.Copyright {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0 20px 0;
}

.Copyright a {
  color: #537459;
}
