* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  background-color: #fff;
}

/* estilos al preloader */
.container__loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #272727;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.container__loader h3 {
  font-size: 2rem;
  color: #fff;
}

.loader {
  height: 95px;
  display: flex;
  align-items: center;
}

.line {
  width: 6px;
  height: 95px;
  background-color: #537459;
  margin: 0 3px;
  border-radius: 4px;
  animation: loader .8s infinite;
}

.line:nth-child(2) {
  animation-delay: .1s;
}
.line:nth-child(3) {
  animation-delay: .2s;
}
.line:nth-child(4) {
  animation-delay: .3s;
}
.line:nth-child(5) {
  animation-delay: .4s;
}
.line:nth-child(6) {
  animation-delay: .5s;
}
.line:nth-child(7) {
  animation-delay: .6s;
}
.line:nth-child(8) {
  animation-delay: .7s;
}

@keyframes loader {
  0% {
    height: 0;
  }
  50% {
    height: 95px;
  }
  100% {
    height: 0;
  }
}

/* encabezado */
header {
  width: 100%;
  /* background-color: #fff; */
  position: fixed;
  color: #fff;
  transition: 0.6s;
  padding: 0 60px;
}

.container__header {
  max-width: 1280px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.header-scroll {
  color: #000;
  z-index: 2;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
}

/* header logo */
.header-logo {
  max-width: 359px;
}

.header-logo h2 {
  font-size: 2.5rem;
  margin: 20px 0;
}
/* header menu */
.header-menu {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.header-menu ul {
  display: flex;
  gap: 70px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

.header-menu a:hover {
  color: #537459;
}

.header-scroll a {
  color: #000;
}

.btn__home {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.btn__home i {
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn__home i:hover {
  transform: scale(120%);
}

main {
  width: 100%;
}
/* eslogan fondo*/
.main-eslogan {
  width: 100%;
  background-image: url(img/andrew-kliatskyi-jpu0gMXT9to-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 130%;
  animation: movimientoFondo 10s infinite linear alternate; 
}

.container__eslogan {
  width: 100%;
  display: flex;
  padding: 86px 60px 115px 60px;
}
/* movimiento fondo */
@keyframes movimientoFondo {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
  }
}
/* eslogan */
.eslogan-texto {
  max-width: 359px;
  color: #fff;
}

.eslogan-title {
  font-size: 3rem;
  width: 100%;
  margin: 130px 0 0 0;
  padding-right: 30px;
  line-height: 3.5rem;
}

.eslogan-title span {
  color: #509040;
}

.eslogan-btn {
  padding: 70px 0;
}

.eslogan-btn a {
  font-size: 2.3rem;
  text-decoration: none;
  color: #fff;
  padding: 5px 25px;
  border: 3px solid #fff;
  transition: 0.4s;
}

.eslogan-btn a:hover {
  background-color: #fff;
  color: #000;
}

/* portada cards */
.hero__cards {
  max-width: calc(100% - 359px);
  display: flex;
  justify-content: space-between;
  gap: 41px;
}

.card__cont {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: .8s all;
}

.card__cont img {
  width: 360px;
  object-fit: cover;
}

.card__cont--mod {
  min-width: 180px;
  max-width: 180px;
}

.card__cont--mod:hover {
  min-width: 360px;
  max-width: 360px;
}

.card__txt--1 {
  transition: .6s all;
}

.card__cont--mod:hover .card__txt--1 {
  opacity: 0;
}


.card__txt {
  position: absolute;
  bottom: 0;
  padding: 0 0 0 30px;
  width: 100%;
  display: flex;
  gap: 20px;
  font-size: 2rem;
  color: #fff;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.01),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.7)
  );
}

.card__txt h4 {
  width: 60%;
}

.card__txt--mod {
  height: 37%;
}

.card__txt--2 {
  position: absolute;
  bottom: 0;
  padding: 0 0 0 0px;
  width: 100%;
  display: flex;
  gap: 20px;
  font-size: 2rem;
  color: #fff;
  opacity: 0;
}

.card__cont--mod:hover .card__txt--2 {
  opacity: 1;
}

.card__txt--2 h4 {
  width: 60%;
}

.card__txt--1 h4 {
  position: absolute;
  writing-mode: sideways-lr;
  bottom: 50px;
  left: 0;
}

.card__txt--etiqueta {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 160px;
  height: 120px;
  background-color: rgb(31, 55, 70);
  z-index: 0;
}

/* sección info */
.container-info {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info-section {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 80px 60px 80px 60px;
}

.info-texto {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-texto h1 {
 font-size: 3rem;
 margin: 0;
 text-align: center;
}

.info-texto p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: justify;
}
.info-texto span {
  color: #509040;
  font-weight: 800;
}

.info-btn {
  margin: 25px 0 0 0;
  display: flex;
  justify-content: center;
}

.info-btn a {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 15px 50px;
  font-size: 1.3rem;
  transition: 0.3s;
  font-weight: bold;
}

.info-btn a:hover {
  background-color: #537459;
}

/* seccion valores */
.info__valores {
  display: flex;
  width: 100%;
  padding: 0 0 80px 60px;
}

.valores__txt {
  width: 50%;
}

.valores__txt h3 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0 30px 0;
}

.valores__txt p {
  font-size: 1.3rem;
  margin: 0 50px 0 0;
}

.valores__txt ul {
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.valores__img {
  width: 50%;
  filter: grayscale(1);
  position: relative;
}

.valores__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* seccion mision vision */
.info__cards {
  width: 100%;
  padding: 0 60px 80px 60px;
  display: flex;
  gap: 5%;
}

.card__ms {
  background-color: #f2f2f2;
  width: 50%;
  border-radius: 20px;
  padding: 30px;
}

.card__ms h3{
  margin: 0 0 20px 0;
  font-size: 1.7rem;
  font-weight: 500;
}

.card__ms p {
  margin: 0;
  font-size: 1.2rem;
  text-align: justify;
  color: #808080;
}
/* MAS INFORMACION */
.more__info {
  background-color: #000;
  width: 100%;
}

.more__about {
  width: 100%;
  padding: 80px 30px 80px 30px;
}

.more__about h3 {
  color: #fff;
  font-size: 2.7rem;
  text-align: center;
}

.more__btn {
  margin: 25px 0 0 0;
  display: flex;
  justify-content: center;
}

.more__btn a {
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  padding: 20px 50px;
  font-size: 1.3rem;
  transition: 0.3s;
  font-weight: bold;
}

.more__btn a:hover {
  background-color: #fff;
  color: #000;
}
/* Seccion datos */
.conteiner__data {
  width: 100%;
}

.data__section {
  width: 100%;
  padding: 0 60px;
  background-color: #000;
  background-image: url(img/layer-data.jpg);
  background-repeat: no-repeat;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.data__info {
  width: calc((100% -60px)/ 4);
  padding: 130px 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.data__info span {
  font-size: 3rem;
  font-weight: 700;
}

.data__info p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.data__line {
  width: 100px;
  height: 3px;
  background-color: #fff;
}

/* seccion servicios */

.container__services {
  width: 100%;
}

.services__section {
  width: 100%;
  padding: 0 60px;
}

.services__title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.services__title h2 {
  margin: 0;
  text-align: center;
  padding: 60px 0;
  width: 80%;
  font-size: 2.7rem;
  font-weight: 500;
}

.services__info {
  width: 100%;
  display: flex;
  gap: 50px;
}

.service__card {
  width: calc((100% - 100px)/ 3);
  text-align: center;
}

.service__card i {
  font-size: 3.5rem;
}

.service__card h4 {
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.service__card span {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #808080;
}

.service__btn {
  width: 100%;
  text-align: center;
}

.service__btn--mod {
  padding: 80px 0;
}

.service__btn--mod a {
  background-color: #000;
  padding: 10px 50px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  transition: .3s all;
}

.service__btn--mod a:hover {
  background-color: #537459;
}

/* Footer contacto seccion */
.contact__section {
  width: 100%;
  background-color: #000;
  display: flex;
  padding: 40px 0;
  gap: 40px;
}

.contact__social {
  width: 50%;
  padding-left: 60px;
  color: #fff;
}

.social__loc h3 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.social__loc p {
  font-size: 1.3rem;
  margin: 0 0 10px 0;
}

.social__map {
  max-width: 500px;
}

.social__map iframe {
  outline: solid 4px #537459;
  width: 100%;
}

.social__follow h3{
  font-size: 2.5rem;
  font-weight: 300;
  margin: 16px 0 16px 0;
}

.social__follow--icons {
  font-size: 2.5rem;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.social__follow--icons a {
  color: #fff;
}

.social__follow--icons i{
  transition: .2s;
}

.social__follow--icons i:hover {
  color: #537459;
  transform: scale(120%);
}

.contact__form {
  width: 50%;
  color: #fff;
  padding-right: 60px;
}

.contact__form h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 2.2rem;
  margin: 0 0 20px 0;
}

.form__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__text .text {
  height: 45px;
  padding-left: 10px;
  outline: none;
  color: rgb(59, 59, 59);
  font-size: 1.3rem;
  font-family: inherit;
}

.form__text textarea {
  height: 250px;
  resize: none;
  padding: 10px 10px;
  outline: none;
  color: rgb(59, 59, 59);
  font-size: 1.3rem;
  font-family: inherit;
}

.form__btn {
  width: 150px;
  font-size: 1.5rem;
  background: none;
  color: #fff;
  border: none;
  outline: solid 3px #fff;
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.3s;
}

.form__btn:hover {
  background-color: #537459;
  outline: none;
}

/* Copyright */
.Copyright {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 30px;
}

.Copyright a {
  color: #537459;
}

@media screen and (max-width: 1200px) {
  header {
    padding: 0 50px;
  }

  .header-menu ul {
    gap: 57px;
  }

  .main-eslogan {
    background-size: 150%;
  }

  .container__eslogan {
    width: 100%;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero__cards {
    gap: 35px;
  }

  .card__cont--mod {
    min-width: 161px;
    max-width: 161px;
  }
  
  .card__cont--mod:hover {
    min-width: 322px;
    max-width: 322px;
  }

  .info-section {
    padding: 80px 50px 80px 50px;
  }

  .info__valores {
    padding: 0 0 80px 50px;
  }

  .info__cards {
    padding: 0 50px 80px 50px;
  }

  .data__section {
    width: 100%;
    padding: 0 50px;
  }

  .services__section {
    padding: 0 50px;
  }

  .contact__social {
    padding-left: 50px;
  }

  .contact__form {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1024px) {
  header {
    padding: 0 30px;
  }

  .header-menu ul {
    gap: 40px;
  }

  .main-eslogan {
    background-size: 200%;
  }

  .container__eslogan {
    width: 100%;
    display: flex;
    padding: 86px 30px 115px 30px;
  }

  .eslogan-texto {
    max-width: 317px;
  }
  
  .eslogan-title {
    font-size: 2.5rem;
  }

  .hero__cards {
    gap: 25px;
    max-width: calc(100% - 317px);
  }

  .card__cont--mod {
    min-width: 150px;
    max-width: 150px;
  }
  
  .card__cont--mod:hover {
    min-width: 300px;
    max-width: 300px;
  }

  .card__txt--etiqueta {
    width: 130px;
  }
  
  .card__txt {
    padding: 0 0 0 20px;
    gap: 10px;
    font-size: 1.7rem;
  }
  
  .card__txt--2 {
    gap: 10px;
    font-size: 1.7rem;
  }

  .info-section {
    padding: 80px 30px 80px 30px;
  }

  .info__valores {
    padding: 0 0 80px 30px;
  }

  .info__cards {
    padding: 0 30px 80px 30px;
  }

  .data__section {
    width: 100%;
    padding: 0 30px;
  }

  .services__section {
    padding: 0 30px;
  }
  
  .contact__social {
    padding-left: 30px;
  }

  .contact__form {
    padding-right: 30px;
  }
}

@media screen and (max-width: 900px) {
  .header-menu ul {
    gap: 20px;
  }

  .card__cont--mod {
    min-width: 120px;
    max-width: 120px;
  }
  
  .card__cont--mod:hover {
    min-width: 233px;
    max-width: calc(100% / 3);
  }

  .card__txt {
    padding: 0 0 0 10px;
    font-size: 1.5rem;
  }
  
  .card__txt--2 {
    font-size: 1.5rem;
  }

  .info-section {
    padding: 80px 30px 80px 30px;
  }
}

@media screen and (max-width: 800px) {
  .main-eslogan {
    background-size: 250%;
  }
  .container__eslogan {
    display: flex;
    flex-direction: column;
    padding: 86px 30px 115px 30px;
  }

  .eslogan-texto {
    max-width: 100%;
  }

  .eslogan-title {
    font-size: 2.5rem;
    margin: 30px 0 0 0;
    line-height: 3rem;
    text-align: center;
  }

  .eslogan-btn {
    padding: 50px 0;
    text-align: center;
  }

  .eslogan-btn a {
    font-size: 2rem;
    padding: 5px 15px;
  }

  .hero__cards {
    max-width: 100%;
  }
  
  .card__cont {
    margin-top: 0;
    max-width: calc(100% / 3);
  }

  .card__cont:hover {
    transform: scale(107%);
  }
  
  .card__cont img {
    overflow: hidden;
    object-fit: cover;
  }
  
  .card__cont--mod {
    max-width: calc(100% / 3);
  }

  .card__cont--mod:hover {
    min-width: 230px;
  }

  .card__txt--1 {
    opacity: 0;
    position: absolute;
  }
  
  .card__txt {
    padding: 0 0 0 10px;
    gap: 10px;
    font-size: 1.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8)
    );
  }

  .card__txt h4 {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
  }
  
  .card__txt h5 {
    margin: 10px 0 30px 0;
  }

  .card__txt--2 {
    gap: 10px;
    font-size: 1.7rem;
    opacity: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  .card__txt--2 h4 {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
  }
  
  .card__txt--2 h5 {
    margin: 10px 0 30px 0;
  }
}

@media screen and (max-width: 720px) {
  /* header menu */
  header {
    z-index: 2;
  }
  .header-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    left: 0;
  }

  .header-menu ul  {
    position: fixed;
    flex-direction: column;
    top: 86px;
    width: 100%;
    height: 100vh;
    left: -100%;
    background-color: #000;
    transition: 1s all;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    overflow: scroll;
  }

  .menu__show ul {
    left: 0;
  }

  .header-scroll i {
    color: #000;
  }

  .header-scroll li a {
    color: #fff;
  }

  .btn__home {
    position: relative;
    opacity: 1;
  }



  .card__cont--mod:hover {
    min-width: 203px;
  }

  .contact__section {
    flex-direction: column;
  }

  .contact__social {
    width: 100%;
    padding-right: 30px;
  }
  
  .contact__form {
    width: 100%;
    padding-left: 30px;
  }

  .social__map {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .main-eslogan {
    background-size: 350%;
  }

  .card__cont--mod:hover {
    min-width: 163px;
  }

  .info__valores {
    flex-direction: column;
    padding: 0 0 80px 0;
  }

  .valores__txt {
    width: 100%;
    padding: 0 30px 0 30px;
  }

  .valores__img {
    width: 100%;
    height: 500px;
  }

  .info__cards {
    flex-direction: column;
    gap: 30px;
  }

  .card__ms {
    width: 100%;
  }

  .services__info {
    flex-direction: column;
  }
  
  .service__card {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .main-eslogan {
    background-size: 400%;
  }
  .hero__cards {
    position: absolute;
    opacity: 0;
  }

  .data__section {
    display: flex;
    flex-direction: column;
  }
  
  .data__info {
    width: 100%;
    padding: 20px 0;
  }
}
